:root{
    --primary:black;
    --secondry:#18181b;
    --border:rgba(63,63,70,0.4)
}
.light{
    --primary:white;
}

*{margin: 0;
padding:0;
}

body{
    background-color: var(--primary);
    color: white;

}

.container{
    border : 2px solid var(--border);
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    background-color: var(--secondry);
}
.divider{
    border-bottom: 1px solid var(--border);
    margin: 3rem 0;
}